/*
 * CampusTalk v0.1
 * 
 * License: GPLv3.
 */
 
@import "CSS3.less";

/******** Global Constants ********/

@page_bg_color : #E1E1E1;
@footer_bg_color : #262626;
@tray_bg_color: #6897CC;
@soft_white : #F8F8F8;
@soft_blue : #A2C4DD;

@facebook_color : #3B5998; /*Facebook Official Color Code*/
@google_color : #1B1B1B; /*Google Color Code*/
@linkedin_color : #4875B4; /*LinkedIn Offical Color Code*/


/******** Global Styles ********/

.header {
	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;
}

.campustalk-logo {
	float: left;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 120px;
	background: @footer_bg_color;
	.box-shadow-inset(0px,0px,15px, darken(@footer_bg_color, 10%));
}

/******** index.html Styles ********/

.account-block {
	
	.account-login, .account-connect {
		padding-top: 2%;
	}
	
	.account-login {
		.block-title {
			padding-left: 20%;
		}
	}
	
	.account-connect {
		.social-button-group {
			margin-top: 10%;
			margin-left: 5%;
			
			.social-button {
				padding-bottom: 20px;
			}
		}
	}
	
	.account-divider {
		height: 350px;
		.vertical-border {
			display: block;
			margin: auto;
			width: 1px;
			height: inherit;
			background: @footer_bg_color;
			.box-shadow-inset(0px,0px,2px, @footer_bg_color);
		}
	}
	
	.login-form {
		margin-top: 10%;
		float: right;
		
		td {
			padding: 5px;
		}
		
		a {
			float: right;
			margin-bottom: 5px;
		}
		
		.btn-flat {
			float: right;
		}
		
		input[type="text"], input[type="password"] {
			.txt-flat();
		}
	}
	
	.block-title {
		margin-top: 10%;
		font-size: 18px;
		color: lighten(@footer_bg_color, 30%);
	}
}

/******** signup.html Styles ********/

.signup-block {
	margin-top: 50px;
	display:none;
	.signup-form {
		margin: auto;
		width: 50%;
		
		label {
			font-size: 18px;
		}
		
		input {
			.txt-flat();
			width: 400px;
		}
		
		button {
			float: right;
			margin-top: 20px;
			width: 200px;
			height: 50px;
		}
	}
}

/******** home.html Styles ********/

.account-tray {
	display: block;
	position: absolute;

	width: 600px;
	height: 600px;
	top: -430px;
	right: -430px;
	background: @tray_bg_color;
	background: repeat url("../assets/tray_bg.png");
	z-index: 500;
	
	.box-shadow(0px, 0px, 8px, @footer_bg_color);
	.border-radius(600px);
	.transition(all,.5s);
	
	&:hover {
		top: -250px;
		right: -150px;
		cursor: pointer;
		.border-radius(10px);
		.transition(all, .5s);
	}
	
	&:hover .account-user-img {
		display: none;
		.transition(all, .5s);
	}
	
	&:hover .profile-block {
		display: block;
		.transition(all, .5s);
	}
	
	.account-user-img {
		position: absolute;
		bottom: 100px;
		left: 100px;
		height: 50px;
		width: 50px;
		border: 3px solid lighten(@tray_bg_color, 10%);
   		.border-radius(3px);
		.box-shadow(0px,0px,3px,grey);
		.transition(all, .5s);
	}
	
	.profile-block {
		display: none;
		position: absolute;
		bottom: 100px;
		left: 50px;
		width: 370px;
		margin: auto;
		.transition(all, .5s);
		
		.profile-details {
			margin-bottom: 10px;
			
			.profile-img {
				float: left;
				height: 200px;
				width: 160px;
				border: 3px solid lighten(@tray_bg_color, 10%);
   				.border-radius(3px);
				.box-shadow(0px,0px,3px,grey);
			}
		
			.profile-options {
				float: right;
			
				label.user-title {
					font-size: 24px;
					font-weight: bold;
					margin-bottom: 20px;
					padding: 2px;
					text-overflow: ellipsis;
					width: 180px;
					white-space: nowrap;
					overflow: hidden;
				}
			
				label.user-group-title {
					font-size: 20px;
					margin-bottom: 20px;
					padding: 2px;
				}

				a.user-option {
					font-size: 20px;
					margin-bottom: 15px; /* Not Working. In-line style added as workaround.*/
					color: #073159;
					padding: 2px;
					.border-radius(3px);
					.transition();

					&:hover {
						background: #4979A6;
						text-decoration: none;
						.border-radius(3px);
						.transition();
					}
				}
			}
		}
		
		.profile-actions {
			position: absolute;
			bottom: -60px;
			left: 20px;
			width: 90%;
			
			button {
				width: 150px;
				font-weight: bold;
			}
			
			#btnLogout {
				float: left;
			}
			
			#btnSettings {
				float: right;
			}
		}
	}
}

.search-block {
	margin: auto;
	margin-top: 18px;
	width: 365px;
		
	input[type="text"] {
		.txt-flat();
		
		float: left;
		width: 300px;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}
	
	button {
		float: right;
		width: 50px;
	}
}

.feeds-block {
	display: block;
	width: 100%;
	paddin-top: 20px;
	overflow-y: auto;
	
	.feeds-list {
		position: relative;
		margin-top: 20px;	
	}
	
	.feeds-more {
		display: block;
		position: relative;
		margin: auto;
		margin-bottom: 5px;
		width: 570px;
		height: 60px;
		background: darken(@soft_white, 3%);
		color: lighten(@footer_bg_color, 30%);
		font-size: 12px;
		text-align: center;
		line-height: 60px;
		.border-radius(4px);
		.transition();
		
		&:hover {
			cursor: pointer;
			background: darken(@soft_white, 1%);
			.transition();
		}
	}
}

#dlgMessages {
	width: 600px;
	.modal-body {
		padding: 0;
		padding-top: 0px;
		background: @soft_white;
		
		.recipient-list {
			height: 300px;
			max-height: 300px;
			float: left;				
			list-style-type: none;
			padding: 5px 0 5px 0;
			margin-left: 0;
			margin-bottom: 0;
			overflow-y: auto;
			overflow-x: hidden;
			
			li {
				.message-recipient {
					display: block;
					width: 185px;
					height: 50px;
					
					.transition();
					
					&:hover {
						text-decoration: none;
						background: darken(@soft_white, 20%);
						.transition();
					}
					
					.recipient-img {
						float: left;
						height: 42px;
						width: 42px;
						margin-top: 4px;
						margin-left: 4px;
					}
					
					.recipient-title {
						color: @footer_bg_color;
						font-size: 12px;
						margin-top: 3px;
						margin-left: 5px;
					}
					
					.recipient-mail {
						color: lighten(@footer_bg_color, 20%);
						font-size: 10px;
						margin-left: 5px;
						white-space: nowrap;
					}
				}
				
				&:nth-child(odd) a {
					background: darken(@soft_white, 5%);
					
					 &:hover {
					 	background: darken(@soft_white, 20%);
					 	.transition();
					 }
				}
				
				a.selected {
					background: lighten(@soft_blue, 10%);
				}
				
				a.unread {
					color: darken(@soft_blue, 50%);
					background: lighten(@soft_blue, 10%);
					font-weight: bold;
				}
			}
		}
		
		.message-thread {
			display: block;
			float: right;
			width: 400px;
			height: 250px;
			padding: 5px 5px 10px 5px;
			overflow-x: hidden;
			overflow-y: auto;
			background: inherit;
 			background: white;
			.box-shadow-inset(0px, 0px, 6px, gray);
						
			.info-label {
				display: block;
				width: 100%;
				margin-top: 25%;
				text-align: center;
			}
			
			.message {
				display: block;
				min-width: 190px;
				max-width: 320px;
				margin-bottom: 10px;
				padding: 2px 5px 2px 5px;
				box-sizing: border-box;
				.border-radius(3px);
				.box-shadow(0px, 1px, 2px, rgba(0,0,0,.5));
				
				.sender {
					display: block;
					margin: auto;
					padding: 0px;
					width: auto;
					font-size: 12px;
					font-weight: bold;
				}
				
				.timestamp {
					font-size: 10px;
				}
				
				p {
					font-size: 12px;
				}
			}
			
			.pull-right {
				clear: right;
				text-align: right;
				margin-right: 5px;
				border: 1px solid darken(@soft_blue, 5%);
				.simple-linear-gradient(lighten(@soft_blue, 10%), @soft_blue);
								
				.sender {
					color: darken(@soft_blue, 50%);
				}
				
				.timestamp {
					float: left;
					margin-top: -20px;
					color: darken(@soft_blue, 50%);
				}
			}
			
			.pull-left {
				clear: left;
				margin-left: 5px;
				border: 1px solid darken(@soft_white, 10%);
				.simple-linear-gradient(@soft_white, darken(@soft_white, 5%));
				
				.sender {
					color: darken(@soft_white, 60%);
				}
				
				.timestamp {
					float: right;
					margin-top: -20px;
					color: darken(@soft_white, 60%);
				}
			}
		}
		
		.message-editor {
			float: right;
			textarea {
				width: 385px;
				margin: auto;
				margin-top: 5px;
				margin-right: 5px;
				margin-bottom: 5px;
				resize: none;
				.border-radius(0);
			}
			
			input[type='button'].btn {
				display: inline-block;
				float: right;
				height: 20px;
				font-size: 12px;
				line-height: 12px;
				margin-top: 2px;
			}
			
			label.checkbox {
				display: inline-block;
				float: right;
				width: 125px;
				color: lighten(@footer_bg_color, 10%);
				font-size: 12px;
				margin-top: 2px;
				margin-right: 5px;
				margin-bottom: 0px;
				
				input {
					float: right;
				}
			}
		}
	}
	
	.modal-drawer {
		.control-group:nth-child(2) .controls {
			font-size: 12px;
			margin-top: 5px;
			max-width: 250px;
		}
	}
}

#dlgAccountSettings {
	.modal-drawer {
		form {
			margin: auto;
			margin-left: 100px;
		}
	}
}

#dlgUserProfile {
	.modal-body {
		background: lighten(@soft_white, 1%);
		
		.user-profile {
			margin: auto;
			margin-top: 10px;
			width: 85%;
			
			.pull-left {
				margin: auto;
				
				img {
					height: 200px;
					width: 160px;
					border: 3px solid darken(@soft_white, 10%);
   					.border-radius(3px);
   					.box-shadow(0px, 1px, 2px, rgba(0,0,0,.5));
				}
				
				.user-activity {
					margin: auto;
					margin-top: 20px;
					margin-left: 25%;
					
					span {
						padding-right: 5px;
					}
				}
			}
			
			.pull-right {
				label {
					color: lighten(@footer_bg_color, 20%);
					margin-left: 15px;
					
					&:nth-child(1) {
						font-weight: bold;
						font-size: 25px;
						margin-bottom: 20px;
					}
					
					&:nth-child(2) {
						font-size: 18px;
						margin-bottom: 15px;
					}
				}
				table {
					td {
						height: 30px;
						font-size: 14px;
						color: lighten(@footer_bg_color, 20%);
						
						&:first-child {
							text-align: right;
							color: lighten(@footer_bg_color, 50%);
						}
						
						&:last-child {
							padding-left: 10px;
						}
					}
					tr:last-child {
						td {
							padding-left: 0;
							padding-top: 10px;
							text-align: center;
						}
					}
				}
			}
		}
	}
}

#dlgEvents {
	.modal-drawer {
		.form-create-event, .form-view-event {
			display: none;
			.controls {
				label {
					margin-top: 5px;
				}
			}
		}
		.datetime-picker {
			.controls:first-child {
				float: left;
				width: 130px
			}
			.controls:last-child {
				float: right;
				margin-top: -30px;
				
				.input-append {
					margin-right: 35px;
				}
			}
		}
	}
	.modal-body {
		overflow-y: hidden;
		.input-append {
			text-align: center;
			.control-label {
				margin-top: 3px;
				margin-right: 10px;
			}
		}
		table {
			overflow-y: auto;
		}
 	}	
}

/******** controlpanel.html Styles ********/

.panels-block {
	width: 75%;
	.table {
		width: 95%;
	}
	
	.tab-content .tab-pane .input-append {
		margin: auto;
		text-align: center;
		
		a {
			outline: none;
		}
	}
	
	.nav-pills {
		
		li {
			a {
				color: @footer_bg_color;
				&:hover {
					background: darken(@page_bg_color, 10%);
					.border-radius(3px);
				}
			}
		}
		
		li.active {
			a {
				color: @footer_bg_color;
				background: darken(@page_bg_color, 25%);
				.border-radius(3px);
			}
		}
	}
}

#ViewGroup {
	width: 800px;
	height: 400px;
	max-height: 500px;
	
	.modal-dropform {
		display: none;
		position: absolute;
		left: 20%;
		top: 50px;
		width: 60%;
		height: 295px;
		padding: 0 5px 5px 5px;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		background: inherit;
		.box-shadow(0px, 2px, 8px, gray);
		z-index: 600;
		
		form {
			.button-group {
				float: right;
				margin-right: 5px;
			}
		}
	}
	
	.modal-body {
		height: 260px;
		max-height: 260px;
	}
	
	.modal-disable-overlay {
		display: none;
		position: absolute;
		top: 50px;
		bottom: 0;
		height: 260px;
		width: 100%;
		background: rgba(255,255,255,.4);
	}
}

/******** Widget Styles ********/

.btn-flat {
	display: block;
	width: 120px;
	height: 40px;
	
	outline: none;
	background: darken(@page_bg_color, 10%);
	border: 1px solid darken(@page_bg_color, 25%);
	.border-radius(0px);
	.transition();
	
	&:hover {
		background: darken(@page_bg_color, 5%);
		.transition();
	}
	
	&:active, &.active {
		background: darken(@page_bg_color, 15%);
		.box-shadow-inset(0px, 0px, 5px, lighten(@footer_bg_color, 30%));
		.transition();
	}
}

.btn-blue {
	@base_color: #2D608F;
	
	color: @soft_white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background: @base_color;
	border: 1px solid @base_color;
	.transition();
	
	&:hover {
		color: @soft_white;
		background: lighten(@base_color, 5%);
		.transition();
	}
	
	&:active, &.active {
		color: @soft_white;
		background: darken(@base_color, 3%);
		.box-shadow-inset(0px, 0px, 5px, darken(@base_color, 30%));
		.transition();
	}
}

.btn-green {
	@base_color : #87C25C;
	
	background: @base_color;
	border: 1px solid @base_color;
	.transition();
	
	&:hover {
		background: lighten(@base_color, 5%);
		.transition();
	}
	
	&:active, &.active {
		background: darken(@base_color, 3%);
		.box-shadow-inset(0px, 0px, 5px, darken(@base_color, 30%));
		.transition();
	}
}

.btn-red {
	@base_color : #F66C67;
	
	background: @base_color;
	border: 1px solid @base_color;
	.transition();
	
	&:hover {
		background: lighten(@base_color, 5%);
		.transition();
	}
	
	&:active, &.active {
		background: darken(@base_color, 3%);
		.box-shadow-inset(0px, 0px, 5px, darken(@base_color, 30%));
		.transition();
	}
}

.btn-yellow {
	@base_color : #ECC752;
	
	background: @base_color;
	border: 1px solid @base_color;
	.transition();
	
	&:hover {
		background: lighten(@base_color, 5%);
		.transition();
	}
	
	&:active, &.active {
		background: darken(@base_color, 3%);
		.box-shadow-inset(0px, 0px, 5px, darken(@base_color, 30%));
		.transition();
	}
}

.txt-flat {
	display: block;
	width: 300px;
	height: 30px;
	background: #F5F5F5;
	
	font-size: 16px;
	.border-radius(0px);
	.transition();
	
	&:hover {
		background: #F9F9F9;
		.transition();
	}
	
	&:focus {
		background: #FFFFFF;
		border: 1px solid @page_bg_color;
		.box-shadow(0px,0px,0px);
		.transition();
	}
}

.sel-flat {
	outline: none;
	height: 30px;
	padding: 2px 2px;
	background: darken(@soft_white, 10%);
	.border-radius(0px);
}

textarea.txt-flat {
	font-size: 13px;
	overflow: auto;
}

.post-card {
	display: block;
	position: relative;
	margin: auto;
	margin-bottom: 7%;
	width: 570px;
	z-index: 100;

	.post-user-bar {
		height: 40px;
		background: @soft_white;
		.border-radius(4px 4px 0px 4px);
		
		.post-user-img {
			width: 30px;
			height: 30px;
			float: left;
			padding: 5px 5px 5px 10px;
		}
	}
		
	.post-content {
		display: block;
		position: inherit;
		float: right;
		width: 85%;
		padding: 5px 10px 5px 10px;
		background: @soft_white;
		.border-radius(4px);

		textarea {
			width: 97%;
			height: 20px;
			max-width: 97%;
			max-height: 200px;
			resize: none;
		}
		
		button {
			float: right;
			width: 70px;
			height: 30px;
		}
	}
}

.loading-overlay {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,.4);
	z-index: 1000;
		
	.loader-icon {
		display: inline-block;
		height: 60px;
		width: 60px;
		margin-top: 20%;
		margin-left: 47.7%;
		opacity: 1;
		filter: alpha(opacity=100);
		background-image: url("../assets/loading.gif");
		background-repeat: no-repeat;
	}
}

.error-overlay, .success-overlay {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,.7);
	z-index: 4000;
	
	[class$="-box"] {
		display: block;
		position: relative;
		margin: auto;
		margin-top: 15%;
		width: 250px;
		height: 220px;
		padding: 10px;
		boz-sizing: border-box;
		background: white;
		.border-radius(8px);
		.box-shadow(0px,0px,8px,#717171);
		
		[class$="-close"] {
			position: absolute;
			top: 10px;
			right: 10px;
			font-size: 25px;
			font-weight: bold;
			color: gray;
			.transition();
			
			&:hover {
				cursor: pointer;
				color: #FE4F4F;
				.transition();
			}
		}
		
		span {
			display: block;
			text-align: center;
			font-size: 130px;
			line-height: 130px;
			color: #545454;
			-webkit-user-select: none;
			   -moz-user-select: none;
				-ms-user-select: none;
				 -o-user-select: none;
					user-select: none;
		}
		
		label {
			color: lighten(@footer_bg_color, 30%);
			font-size: 16px;
			text-align: center;
			margin-bottom: 10px;
		}
	}
}

.login-status {
	display: none;
	color: #FF0000;
	font-size: 12px;
	padding: 3px;
	background: #F3E372;
	border: 1px solid #D9C013;
	.border-radius(5px);
	.box-shadow(0px,1px,3px,#8C8C8C);
}

.feed-card {
	position: relative;
	margin: auto;
	margin-bottom: 10%;
	width: 570px;
	
	/*
	.filter-drop-shadow(0px, 1px, 2px, rgba(0,0,0,.5));
	
	&:hover {
		.filter-drop-shadow(0px, 2px, 4px, rgba(0,0,0,.5));
	}
	*/
	
	.feed-user-bar {
		position: inherit;
		margin: auto;
		height: 60px;
		background: @soft_white;
		.border-radius(4px 4px 0px 4px);
		
		.feed-user-img {
			position: inherit;
			width: 50px;
			height: 50px;
			float: left;
			padding: 5px 5px 5px 10px;
		}
		
		.feed-user-title {
			display: block;
			position: inherit;
			width: 50%;
			font-size: 18px;
			font-weight: bold;
			margin-left: 70px;
			padding: 5px 0px 10px 5px;
			
			a {
				position: inherit;
				color: @footer_bg_color;
				padding: 2px;
				.border-radius(3px);
				.transition();
				
				&:hover {
					background: #CACACA;
					text-decoration: none;
					.border-radius(3px);
					.transition();
				}
			}
		}
		
		.feed-timestamp {
			display: block;
			float: right;
			margin-top: -35px;
			margin-right: 25px;
			padding: 4px;
			font-size: 12px;
		}
		
		.feed-card-menu {
			display: block;
			float: right;
			margin-top: -35px;
			margin-right: 5px;
			padding: 4px;
			.border-radius(3px);
			
			a.dropdown-toggle {
				&:hover {
					.box-shadow(0px,0px,2px);
				}
			}
		}
	}
	
	.feed-content {
		display: block;
		position: inherit;
		margin-top: -35px;
		width: 85%;
		float: right;
		padding: 5px 10px 5px 10px;
		background: @soft_white;
		.border-radius(0px 0px 4px 4px);
		
		.feed-comments-block {
			
			.feed-comment-reveal {
				float: left;
				font-size: 14px;
				font-weight: bold;
				color: lighten(@footer_bg_color, 20%);
				padding: 2px;
				.border-radius(3px);
				.transition();
				
				&:hover {
					background: #CACACA;
					text-decoration: none;
					.border-radius(3px);
					.transition();
				}
			}
			
			.feed-comments {
				list-style-type: none;
				clear: both;
				margin-left: 0;
				padding: 5px;
				background: darken(@soft_white, 5%);
				.border-radius(3px);
				
				li {
					position: relative;
					margin-bottom: 5px;
					min-height: 30px;
					padding: 0 0 10px 50px;
					font-size: 12px;
					line-height: 14px;
					.border-radius(3px);
					
					&:nth-of-type(odd) {
						background: darken(@soft_white, 10%);
					}
																				
					.comment-user-img {
						position: absolute;
						top: 3px;
						left: 3px;
						width: 30px;
						height: 30px;
					}
					
					.comment-user a {
						position: absolute;
						top: 0;
						left: 40px;
						font-size: 10px;
						font-weight: bold;
						color: lighten(@footer_bg_color, 20%);
						padding: 1px;
						.transition();
						
						&:hover {
							background: #CACACA;
							text-decoration: none;
							.border-radius(2px);
							.transition();
						}
					}
					
					.comment-timestamp {
						position: absolute;
						top: 0;
						right: 15px;
						text-align: right;
						font-size: 10px;
					}
					
					.comment-action {
						display: none;
						position: absolute;
						top: 0;
						right: 0;
						
						&:hover {
							background: darken(@soft_white, 25%);
							.border-radius(2px);
						}
					}
					
					&:hover .comment-action {
						display: block;
					}
				}
			}
			
			.feed-comment-box {
			
				img {
					float: left;
				}
			
				textarea {
					.txt-flat();
					height: 25px;
					width: 90%;
					float: right;
					font-size: 12px;
					padding: 5px 2px 0 2px;
					resize: none;
				}
			}
		}
	}
}

.drp-flat {
	ul {
		background: darken(@soft_white, 5%);
		.border-radius(0px);
		.box-shadow(1px, 1px, 3px, lighten(@footer_bg_color, 30%));
		
		a {
			.transition();
			&:hover {
				color: @footer_bg_color;
				background: darken(@soft_white, 20%);
				.transition();
			}
		}
	}
}

.top-most {
	z-index: 3000;
}

.typeahead.dropdown-menu.simple-user-search {
	.border-radius(0);
	li {
		a {
			display: block;
			width: 275px;
			height: 30px;
			color: lighten(@footer_bg_color, 20%);
			font-size: 16px;
			line-height: 30px;
			background: @soft_white;
			.transition();
			
			&:hover {
				text-decoration: none;
				background: darken(@soft_white, 20%);
				.transition();
			}
		}
		
		&:nth-child(odd) a {
			background: darken(@soft_white, 5%);
			
			 &:hover {
			 	background: darken(@soft_white, 20%);
			 	.transition();
			 }
		}
	}
}

.typeahead.dropdown-menu.message-user-search {
	.typeahead.dropdown-menu.simple-user-search();
	li a {
		width: 180px;
		height: 20px;
		font-size: 12px;
		line-height: 20px;
	}
}

/*Provisional Styles for Rich Auto-complete*/
.typeahead.dropdown-menu.user-search {
	.border-radius(0);
	li {
		a {
			display: block;
			width: 275px;
			height: 50px;
			background: @soft_white;
			.transition();
			
			&:hover {
				text-decoration: none;
				background: darken(@soft_white, 20%);
				.transition();
			}
			
			.user-img {
				float: left;
				height: 42px;
				width: 42px;
				margin-top: 4px;
				margin-left: 4px;
			}
			
			.user-title {
				color: @footer_bg_color;
				font-size: 16px;
				margin-top: 5px;
				margin-left: 20px;
			}
			
			.user-mail {
				float: left;
				color: lighten(@footer_bg_color, 20%);
				font-size: 12px;
				margin-left: 20px;
			}
		}
	
		&:nth-child(odd) a {
			background: darken(@soft_white, 5%);
			
			 &:hover {
			 	background: darken(@soft_white, 20%);
			 	.transition();
			 }
		}
		
		a.active {
			color: darken(@soft_blue, 50%);
			background: lighten(@soft_blue, 10%);
			font-weight: bold;
		}
	}
}

.btn-facebook, .btn-google, .btn-linkedin {
	color: @soft_white;
	font-weight: bold;
	width: 200px;
}

.btn-facebook {
	background: @facebook_color;
	border: 1px solid darken(@facebook_color, 10%);
	text-shadow: 0 0 0 #000;
	
	&:hover {
		color: @soft_white;
		background: lighten(@facebook_color, 5%);
	}
	
	&:active {
		background: darken(@facebook_color, 5%);
		.box-shadow-inset(0px, 0px, 5px, darken(@facebook_color, 20%));
	}
}

.btn-google {
	background: @google_color;
	border: 1px solid darken(@google_color, 10%);
	text-shadow: 0 0 0 #000;
	
	&:hover {
		color: @soft_white;
		background: lighten(@google_color, 10%);
	}
	
	&:active {
		background: darken(@google_color, 5%);
		.box-shadow-inset(0px, 0px, 5px, darken(@google_color, 20%));
	}
}

.btn-linkedin {
	background: @linkedin_color;
	border: 1px solid darken(@linkedin_color, 10%);
	text-shadow: 0 0 0 #000;
	
	&:hover {
		color: @soft_white;
		background: lighten(@linkedin_color, 5%);
	}
	
	&:active {
		background: darken(@linkedin_color, 5%);
		.box-shadow-inset(0px, 0px, 5px, darken(@linkedin_color, 20%));
	}
}

/*Twitter Bootstrap Modal redesign*/
.modal-flat {
	.border-radius(0);
	
	.modal-header {
		height: 25px;
		background: darken(@soft_white, 15%);
		.box-shadow(0px, 1px, 4px, #999);

		.modal-title {
			padding: 2px;
			margin-top: 0;
			line-height: 25px;
		}
		
		.close:hover {
			color: red;
		}
	}
	
	.modal-body {
	}
	
	.modal-drawer {
		display: none;
		position: absolute;
		left: 12%;
		right: 12%;
		top: 45px;
		max-height: 85%;
		padding: 0 5px 5px 5px;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		background: inherit;
		overflow-y: auto;
		.box-shadow(0px, 2px, 8px, gray);
		z-index: 600;
		
		legend {
			font-size: 16px;
			margin-top: 0;
		}
		
		form {
			margin-left: -45px;
			
			.control-label {
				color: #727374;
			}
		}
		
		.drawer-button-group {
			float: right;
			margin-right: 5px;
			margin-bottom: 5px;
		}
	}
	
	.modal-disable-overlay {
		display: none;
		position: absolute;
		top: 50px;
		bottom: 0;
		height: 260px;
		width: 100%;
		background: rgba(255,255,255,.4);
	}
	
	.modal-footer {
		.border-radius(0);
		margin-bottom: 0;
		button.btn {
			.border-radius(0);
		}
	}
}

#avgmodal{
	display: none;
	overflow: hidden;
}

.modal {
	outline: none;
	.box-shadow(0px, 0px, 30px, rgba(0, 0, 0, 0.8));
	
	button.btn-flat {
		display: inline-block;
		width: auto;
		height: auto;
		.border-radius(4px);
	}
}

.modal-backdrop {
	background: @soft_white;
}

div.datepicker.dropdown-menu {
  z-index: 3050 !important;
}
