/*
 * CampusTalk v0.1
 * 
 * License: GPLv3.
 */
 
@import "CSS3.less";

/******** Global Constants ********/

@page_bg_color : #E1E1E1;
@footer_bg_color : #262626;
@soft_white : #F8F8F8;

@facebook_color : #3B5998; /*Facebook Official Color Code*/
@twitter_color : #7EB3CD; /*Twitter Official Color Code*/
@linkedin_color : #4875B4; /*LinkedIn Offical Color Code*/


/******** Global Styles ********/

.header {
	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;
}

.campustalk-logo {
	float: left;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 120px;
	background: @footer_bg_color;
	.box-shadow-inset(0px,0px,15px, darken(@footer_bg_color, 10%));
}

/******** index.html Styles ********/

.account-block {
	
	.account-login, .account-connect {
		padding-top: 2%;
	}
	
	.account-login {
		.block-title {
			padding-left: 20%;
		}
	}
	
	.account-connect {
		.social-button-group {
			margin-top: 10%;
			margin-left: 5%;
			
			.social-button {
				padding-bottom: 20px;
			}
		}
	}
	
	.account-divider {
		height: 350px;
		.vertical-border {
			display: block;
			margin: auto;
			width: 1px;
			height: inherit;
			background: @footer_bg_color;
			.box-shadow-inset(0px,0px,2px, @footer_bg_color);
		}
	}
	
	.login-form {
		margin-top: 10%;
		float: right;
		
		td {
			padding: 5px;
		}
		
		a {
			float: right;
			margin-bottom: 5px;
		}
		
		.btn-flat {
			float: right;
		}
		
		input[type="text"], input[type="password"] {
			.txt-flat();
		}
	}
	
	.block-title {
		margin-top: 10%;
		font-size: 18px;
		color: lighten(@footer_bg_color, 30%);
	}
}

/******** home.html Styles ********/

.account-tray {
	display: block;
	position: absolute;

	width: 600px;
	height: 600px;
	top: -430px;
	right: -430px;
	background: #6897CC;
	background: repeat url("../assets/tray_bg.png");
	z-index: 500;
	
	.box-shadow(0px, 0px, 8px, @footer_bg_color);
	.border-radius(600px);
	.transition(all,.5s);
	
	&:hover {
		top: -250px;
		right: -150px;
		cursor: pointer;
		.border-radius(10px);
		.transition(all, .5s);
	}
}

.search-block {
	margin: auto;
	margin-top: 18px;
	width: 365px;
		
	input[type="text"] {
		.txt-flat();
		
		float: left;
		width: 300px;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}
	
	button {
		float: right;
		width: 50px;
	}
}

.feeds-block {
	width: 100%;
	height: 550px;
	paddin-top: 20px;
	overflow-y: auto;
	
	.feeds-list {
		position: relative;
		margin-top: 20px;
	}
}

/******** Widget Styles ********/

.btn-flat {
	display: block;
	width: 120px;
	height: 40px;
	
	outline: none;
	background: darken(@page_bg_color, 10%);
	border: 1px solid darken(@page_bg_color, 25%);
	.border-radius(0px);
	.transition();
	
	&:hover {
		background: darken(@page_bg_color, 5%);
		.transition();
	}
	
	&:active {
		background: darken(@page_bg_color, 15%);
		.box-shadow-inset(0px, 0px, 5px, lighten(@footer_bg_color, 30%));
		.transition();
	}
}

.txt-flat {
	display: block;
	width: 300px;
	height: 30px;
	background: #F5F5F5;
	
	font-size: 16px;
	.border-radius(0px);
	.transition();
	
	&:hover {
		background: #F9F9F9;
		.transition();
	}
	
	&:focus {
		background: #FFFFFF;
		border: 1px solid @page_bg_color;
		.box-shadow(0px,0px,0px);
		.transition();
	}
}

.sel-flat {
	outline: none;
	height: 30px;
	padding: 2px 2px;
	background: darken(@soft_white, 10%);
	.border-radius(0px);
}

textarea.txt-flat {
	font-size: 13px;
	overflow: auto;
}

.post-card {
	display: block;
	position: relative;
	margin: auto;
	margin-bottom: 7%;
	width: 570px;
	z-index: 100;

	.post-user-bar {
		height: 40px;
		background: @soft_white;
		.border-radius(4px 4px 0px 4px);
		
		.post-user-img {
			float: left;
			padding: 5px 5px 5px 10px;
		}
	}
		
	.post-content {
		display: block;
		position: inherit;
		float: right;
		width: 85%;
		padding: 5px 10px 5px 10px;
		background: @soft_white;
		.border-radius(4px);

		textarea {
			width: 97%;
			height: 20px;
			max-width: 97%;
			max-height: 200px;
			resize: none;
		}
		
		button {
			float: right;
			width: 70px;
			height: 30px;
		}
	}
}

.feed-card {
	position: relative;
	margin: auto;
	margin-bottom: 10%;
	width: 570px;
	
	/*
	.filter-drop-shadow(0px, 1px, 2px, rgba(0,0,0,.5));
	
	&:hover {
		.filter-drop-shadow(0px, 2px, 4px, rgba(0,0,0,.5));
	}
	*/
	
	.feed-user-bar {
		position: inherit;
		margin: auto;
		height: 60px;
		background: @soft_white;
		.border-radius(4px 4px 0px 4px);
		
		.feed-user-img {
			position: inherit;
			float: left;
			padding: 5px 5px 5px 10px;
		}
		
		.feed-user-title {
			display: block;
			position: inherit;
			width: 50%;
			font-size: 18px;
			font-weight: bold;
			margin-left: 70px;
			padding: 5px 0px 10px 5px;
			
			a {
				position: inherit;
				color: @footer_bg_color;
				padding: 2px;
				.border-radius(3px);
				.transition();
				
				&:hover {
					background: #CACACA;
					text-decoration: none;
					.border-radius(3px);
					.transition();
				}
			}
		}
		
		.feed-card-menu {
			display: block;
			float: right;
			margin-top: -35px;
			margin-right: 5px;
			padding: 4px;
			.border-radius(3px);
			
			a.dropdown-toggle {
				&:hover {
					.box-shadow(0px,0px,2px);
				}
			}
		}
	}
	
	.feed-content {
		display: block;
		position: inherit;
		margin-top: -35px;
		width: 85%;
		float: right;
		padding: 5px 10px 5px 10px;
		background: @soft_white;
		.border-radius(0px 0px 4px 4px);
		
		.feed-comments-block {
			
			.feed-comment-reveal {
				float: left;
				font-size: 14px;
				font-weight: bold;
				color: lighten(@footer_bg_color, 20%);
				padding: 2px;
				.border-radius(3px);
				.transition();
				
				&:hover {
					background: #CACACA;
					text-decoration: none;
					.border-radius(3px);
					.transition();
				}
			}
			
			.feed-comments {
				list-style-type: none;
				clear: both;
				margin-left: 0;
				
				li {
					position: relative;
					padding: 0 0 10px 50px;
					min-height: 30px;
					font-size: 12px;
					line-height: 14px;
					
					&:nth-of-type(odd) {
						background: darken(@soft_white, 2%);
					}
										
					img {
						position: absolute;
						top: 0;
						left: 0;
					}
					
					.comment-action {
						display: none;
						position: absolute;
						top: 0;
						right: 0;
					}
				}
			}
			
			.feed-comment-box {
			
				img {
					float: left;
				}
			
				textarea {
					.txt-flat();
					height: 25px;
					width: 90%;
					float: right;
					font-size: 12px;
					padding: 5px 2px 0 2px;
					resize: none;
				}
			}
		}
	}
}

.drp-flat {
	ul {
		background: darken(@soft_white, 5%);
		.border-radius(0px);
		.box-shadow(1px, 1px, 3px, lighten(@footer_bg_color, 30%));
		
		a {
			.transition();
			&:hover {
				color: @footer_bg_color;
				background: darken(@soft_white, 20%);
				.transition();
			}
		}
	}
}

.btn-facebook, .btn-twitter, .btn-linkedin {
	color: @soft_white;
	font-weight: bold;
	width: 200px;
}

.btn-facebook {
	background: @facebook_color;
	border: 1px solid darken(@facebook_color, 10%);
	
	&:hover {
		background: lighten(@facebook_color, 5%);
	}
	
	&:active {
		background: darken(@facebook_color, 5%);
		.box-shadow-inset(0px, 0px, 5px, darken(@facebook_color, 20%));
	}
}

.btn-twitter {
	background: @twitter_color;
	border: 1px solid darken(@twitter_color, 10%);
	
	&:hover {
		background: lighten(@twitter_color, 5%);
	}
	
	&:active {
		background: darken(@twitter_color, 5%);
		.box-shadow-inset(0px, 0px, 5px, darken(@twitter_color, 20%));
	}
}

.btn-linkedin {
	background: @linkedin_color;
	border: 1px solid darken(@linkedin_color, 10%);
	
	&:hover {
		background: lighten(@linkedin_color, 5%);
	}
	
	&:active {
		background: darken(@linkedin_color, 5%);
		.box-shadow-inset(0px, 0px, 5px, darken(@linkedin_color, 20%));
	}
}